
<h2> <%= @movies_selected['name'] %> <h2>
<p><%= @movies_selected['description'] %></p>


<!-- <% varmkorv = @movies_selected[3] %>
<p><% movies = db.execute('SELECT * FROM director WHERE director_id = ?', varmkorv.to_int) %>/<p>
<p><%= varmkorv['director_name']%></p> -->

<p><a href="/movies">Show me all movies!</a></p>