
<h2> <%= @movies_selected['name'] %> <h2>
<p><%= @movies_selected['description'] %></p>
<p>Director:</p>
<p><a href="/movies"><%= @movies_selected['director_name'] %></a></p>

<p><a href="/movies">Show me all movies!</a></p>